@import url('https://googleapis.com');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ff512f, #dd2476);
}

.time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(8, 8, 8, 0.61);
    padding: 30px;
    border-radius: 10px;
}

.time-container h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}

.time-container p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
