* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffecd2;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(in oklch to right, #fff0e5, #ffbfa3);
    min-height: 100vh;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%; 
    width: 100%;
}

header i {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
}


nav ul {
    display: flex;
    gap: 40px; 
    list-style: none;
}

nav ul li {
    display: inline-block;
}

ul li a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.30rem;
    font-style: oblique;
    font-weight: 300;
    white-space: nowrap; 
}


@media (max-width: 768px) {
    header {
        flex-direction: column; 
        gap: 1rem;
        text-align: center;
    }

    nav ul {
        flex-wrap: wrap; 
        justify-content: center;
    }
}


section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    margin-top: 20em;
    font-family: 'Poppins';
}

.title h1 {
    font-size: xx-large;
    color: rgb(238, 240, 238);
}

.title i {
    font-size: 2em;
    margin-top: 15px;
    margin: 15px;
    text-decoration: none;
    
}



   


