

body {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('https://wallpapers.com/images/featured/ikea-l6veeo7ib3g6lg4g.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center;
}


.nav-links {
    float: left;
}

.nav-links ul li {
    flex: 1;
    justify-content: space-between;
}




